@import "../../mixins";

.list {
  $self: &;
  margin-bottom: 30px;

  &__add-button {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }

    @include breakpoint-down(large) {
      span {
        position: relative;
        top: 0.5px;
      }

      position: relative;
      left: 2px;
    }

    @include breakpoint-down(small) {
      span {
        position: relative;
        top: 0.5px;
        left: 2px;
      }

      position: relative;
      left: 2px;
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 14px;
    transition: background-color 0.15s ease-in-out;

    @include breakpoint-up(x-large) {
      &:hover #{$self}__remove-icon {
        opacity: 0.2;
      }
    }

    #{$self}__remove-icon {
      position: relative;
      left: 4px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

      @include breakpoint-up(x-large) {
        &:hover {
          opacity: 0.8;
        }
      }
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    &.hide-for-desktop {
      display: none;

      @include breakpoint-down(small) {
        display: block;
      }

      &:hover {
        background: none;
      }

      i {
        @include breakpoint-down(small) {
          position: relative;
          right: 4px;
        }
      }
    }

    .badge {
      position: relative;
      left: 5px;

      @include breakpoint-down(small) {
        left: 2px;
      }
    }

    i {
      display: inline-flex;
      margin-right: 8px;

      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }
  }
}
