@import "mixins";
@import "animations";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1024px;
  height: 768px;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  font-size: 14px;

  @include breakpoint-down(medium) {
    position: static;
    transform: none;
    width: 100%;
    height: 100vh;
  }

  &__sidebar {
    background-color: #f4f5f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
    z-index: 10;

    @include breakpoint-down(large) {
      li.active {
        .list__remove-icon {
          opacity: 0.8;
          visibility: visible;
        }
      }

      .list__add-button {
        opacity: 0.8;
      }
    }

    @include breakpoint-down(small) {
      position: absolute;
      width: 40px;
      padding: 60px 5px;
      margin-right: 100px;
      transition: width 0.3s ease-in-out;

      li {
        .list__remove-icon {
          display: none;
        }
      }

      li.active {
        .list__remove-icon {
          display: block;
          opacity: 0;
          visibility: hidden;
        }
      }

      .list__add-button {
        opacity: 0;
        visibility: hidden;
        transition-delay: 0.1s;
        transition-property: visibility;
      }

      .add-list__popup {
        display: none;
      }

      &--open {
        display: block;
        width: 200px;

        .icon-arrow {
          transform: rotate(-180deg);
          background-color: #fff;
          padding: 10px;
          margin-left: 5px;
          border-radius: 30px;
          box-shadow: 1px 2px 15px #999999;
        }

        li.active {
          .list__remove-icon {
            opacity: 0.8;
            visibility: visible;
            transition-delay: 0.2s;
            transition-property: visibility;
          }
        }

        .list__add-button {
          opacity: 0.8;
          visibility: visible;
        }

        .add-list__popup {
          display: block;
        }
      }
    }

    ul.list {
      li.hide-for-mobile--open {
        width: 200px;
      }
    }
  }

  &__tasks {
    flex: 1;
    padding: 60px;

    @include breakpoint-down(small) {
      padding: 15px;
      margin-left: 50px;
    }

    overflow: auto;
  }
}

.button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background: darken(#4dd599, 6%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }

  &:disabled {
    background: #d8d8d8;
  }

  &--grey {
    background: #f4f6f8;
    color: #444444;

    &:hover {
      background: darken(#f4f6f8, 3%);
    }

    &:active {
      background: darken(#f4f6f8, 6%);
    }
  }
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
  }
}

.icon-arrow {
  transition: all 0.3s ease-in-out;
}

.overlay {
  @include breakpoint-down(small) {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(hsl(233, 26%, 24%), transparent);
    z-index: 1;
  }
}
